.heading {
  color: dodgerblue;
}
.complete{
  text-decoration: line-through;
}
.selected{
  color: azure;
  background-color: blueviolet;
  border: 3px solid rgb(45, 0, 87);
  border-radius: 5px;
  transform: scale(0.9);
}
.error{
  color: red;
}